<%= form_with model: [:admin, shop] do |form| %>
  <% if shop.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
        <% shop.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :payment_option, style: "display: block" %>
    <%= form.text_field :payment_option %>
  </div>

  <div>
    <%= form.label :payment_details, style: "display: block" %>
    <%= form.text_field :payment_details %>
  </div>

  <div>
    <%= form.label :activation_code, style: "display: block" %>
    <%= form.text_field :activation_code %>
  </div>

  <div>
    <%= form.label :activated, style: "display: block" %>
    <%= form.text_field :activated %>
  </div>

  <div>
    <%= form.label :activated_at, style: "display: block" %>
    <%= form.text_field :activated_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
