<div id="<%= dom_id shop %>">
  <p>
    <strong>Name:</strong>
    <%= shop.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= shop.address %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= shop.email %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= shop.description %>
  </p>

  <p>
    <strong>Payment option:</strong>
    <%= shop.payment_option %>
  </p>

  <p>
    <strong>Payment details:</strong>
    <%= shop.payment_details %>
  </p>

  <p>
    <strong>Activation code:</strong>
    <%= shop.activation_code %>
  </p>

  <p>
    <strong>Activated:</strong>
    <%= shop.activated %>
  </p>

  <p>
    <strong>Activated at:</strong>
    <%= shop.activated_at %>
  </p>

</div>
